{% extends "base.html" %} {% block content %}

<div class="profile">
  <div class="first-row">
    <img src="{{ profile_picture }}" alt="Profile picture" />

  </div>



  <div>
    <h2>{{ user.username }}</h2>
    {% if user.profilebio %}
    <p>{{ user.profilebio }}</p>
    {% endif %} {% if user.last_seen %}
    <p>Last seen: <b>{{ user.last_seen }}</b></p>
    {% endif %}
  </div>

  <div class="profile-update">
    {% if current_user == user %}
    <form method="POST" enctype="multipart/form-data">
    {{ update_form.hidden_tag() }}
      <div class="form-group">
        {{ update_form.username.label(class="form-label") }}
        {{ update_form.username(class="form-control") }}
      </div>
      <div class="form-group">
        {{ update_form.email.label(class="form-label") }}
        {{ update_form.email(class="form-control") }}
      </div>
      <div class="form-group">
        {{ update_form.profilebio.label(class="form-label") }}
        {{ update_form.profilebio(class="form-control") }}
      </div>

      <div class="tb-container">
        {{ update_form.profile_picture.label(class="form-label") }}
        {{ update_form.profile_picture(class="form-control-file") }}
      </div>
      <div class="form-group">
        <input type="submit" value="Submit" />
      </div>
    </form>
    {% endif %}
  </div>
</div>
</div>






<div>
    <div>
        {% for post in posts %}
            {% if post.author.username == user.username %}
                {% include "_posts.html" %}
            {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}
